<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <title>优惠券使用记录 微信营销平台</title>
        <link rel="stylesheet" href="../../css/new-basic.css">
    </head>
    <ul class="form-tab clearfix">
        <li><a href="#html/coupon/couponSet.html">基本设置</a></li>
        <li><a href="#html/coupon/couponInfoList.html">优惠券列表</a></li>
        <li><a href="#html/coupon/couponGetMemberList.html">领取优惠券的会员</a></li>
        <li><a href="#html/coupon/couponUseList.html" class="current">优惠券使用记录</a></li>
    </ul>
    <div class="button-box ml10 mb10 pt20">
        <a href="#html/coupon/couponUseSet.html" class="blue-btn normal-btn">添加优惠券使用记录</a>   
    </div>
    <!-- 表格 -->
    <div class="table-box">
        <table>
            <thead>
            <th class="w100">ID</th>
            <th class="w100">优惠券ID</th>
            <th>优惠券名称</th>
            <th class="w100">消费金额</th>
            <!-- <th class="w150">剩余使用次数</th> -->
            <th class="w200">使用时间</th>
            <th class="w100">操作员</th>
            <th class="w100">操作</th>
            </thead>
            <tbody id="table-list">
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page-box" id="page-box"></div>
    <!-- 模板 -->
    <script id="couponUseListTemplate" type="text/html">
        <% var couponUse, consuptionId; %>
        <% for ( i = 0, len = dataList.length; i < len; i++ ) { couponUse = dataList[i]; consuptionId = couponUse.consuptionId; %>
        <tr>
        <td><%=consuptionId%></td>
        <td><%=couponUse.couponId%></td>
        <td><strong><%=couponUse.couponName%></strong></td>
        <td><span><%=couponUse.consumeMoney%></span></td>
        <td><%=couponUse.createTime%></td>
        <td><%=couponUse.operatorName%></td>
        <td>
        <a href="javascript:;" data-id="<%=consuptionId%>" class="opt">删除</a>
        </td>
        </tr>
        <% }%>
    </script>
    <script>
        seajs.use(['jquery', 'request', 'template', 'pager', 'tip'], function($, REQUEST, template, pager, TIP) {
            var $pageBox = $('#page-box');
            var $tableList = $("#table-list");
            var queryUrl = REQUEST.url("inquirePageConsuptionList");
            $pageBox.pager({
                form: "",
                url: queryUrl,
                param: {"data": {"pageNo": 1, "pageCount": 10}, "encryptType": 1},
                callback: function(res) {
                    if (res.resultCode == 0) {
                        res = res.data;
                        res.dataList && $tableList.html(template.render('couponUseListTemplate', res));
                    } else {
                        TIP.show(2, "查询失败");
                    }
                }
            });
            var deleteUrl = REQUEST.url('deleteConsuption');
            $tableList.on("click", ".opt", function() {
                var $this = $(this);
                REQUEST.post(deleteUrl, {"data": {"consuptionId": $this.attr("data-id")}}, function(res) {
                    if (res.resultCode == 0) {
                        TIP.show(1, "操作成功");
                        $this.parents("tr").remove();
                    } else {
                        TIP.show(2, "操作失败");
                    }
                });
            });
        });

    </script>
</body>
</html>